@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  font-family:
    "Inter var",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings:
    "case" 1,
    "cpsp" 1,
    "dlig" 1,
    "cv01" 1,
    "cv02",
    "cv03" 1,
    "cv04" 1;
  font-variation-settings: "wght" 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  background-image: linear-gradient(
  20deg,
  hsl(39deg 68% 78%) 0%,         /* Warm starting tone */
  hsl(40deg 65% 79%) 6%,        /* Slight desaturation */
  hsl(42deg 62% 81%) 12%,
  hsl(43deg 60% 82%) 18%,
  hsl(40deg 58% 83%) 24%,       /* Subtle hue shift */
  hsl(38deg 55% 85%) 35%,       /* Warmer mid-tone */
  hsl(35deg 52% 86%) 45%,       /* Earthy dip */
  hsl(37deg 54% 88%) 55%,
  hsl(39deg 56% 89%) 65%,
  hsl(42deg 58% 91%) 74%,
  hsl(43deg 55% 93%) 82%,
  hsl(45deg 50% 95%) 89%,       /* Cooler highlight */
  hsl(42deg 30% 97%) 94%,       /* Off-white with sepia tint */
  hsl(42deg 15% 98%) 98%,       /* Nearly white with subtle warmth */
  hsl(0deg 0% 100%) 100%
);
  background-size: cover;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: "wght" 650;
}
h1 {
  font-variation-settings: "wght" 850;
}
h2 {
  font-variation-settings: "wght" 750;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.08;
  pointer-events: none;
}

.glow-yellow {
  filter: drop-shadow(0px 0px 0px #fde895); /* Initial glow set to 0 */
  transition: filter 0.3s ease-in-out; /* Transition property for the glow */
}

.glow-yellow:hover {
  filter: drop-shadow(0px 0px 10px #fde895); /* Increase glow on hover */
}

.golden-yellow {
  color: #ffd700;
}

.yellow {
  color: #ffff00;
}

.chartreuse {
  color: #7fff00;
}

